<section class="content-header">
  <h1>{{model.name}}</h1>

  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      {{#if isLoading}}
        <h1>Loading...</h1>
      {{else}}
      {{ember-jstree data=jsTreeData plugins=plugins}}
      {{/if}}
    </div>
  </div>
</section>

{{outlet}}
