<section class="content-header">
  <h1>New Namespace</h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      {{#bs-form action="create"}}
      {{#bs-form-group}}
      <label class="control-label">Name</label>
      {{bs-input type="text" value=name}}
      {{/bs-form-group}}
      {{#bs-button type="primary" buttonType="submit"}}
      Create
      {{/bs-button}}
      {{/bs-form}}
    </div>
  </div>
</section>
