# For bson
pymongo
redis
# Need a data marshaller
marshmallow
# For testing "timetraveling"
freezegun

furl==0.4.8
aiohttp==0.19.0
tornado==4.3
PyJWT==1.4.0
pyjwt==1.4.0
elasticsearch-dsl==0.0.9
stevedore==1.10.0
requests==2.8.1
jsonschema
colorlog
