furl==0.4.8
aiohttp==0.19.0
pyjwt==1.4.0
elasticsearch-dsl==0.0.9
elasticsearch==1.7.0
stevedore==1.10.0
bcrypt==2.0.0

# APIs very unlikely to change
# Leaving unpinned
pymongo
tornado
requests
jsonschema
colorlog
docopt
pyyaml
