<section class="content-header">
  <h1>Namespaces</h1>

  <ol class="breadcrumb">
    <li>
      {{#link-to 'index'}}Home{{/link-to}}
    </li>
    <li></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<section class="content">
  {{#each model.collections as |collection|}}
  <div class="row">
    <div class="col-lg-3">
      <div class="small-box bg-green">
        <div class="inner">
          <h3>{{collection.name}}</h3>
          <p>Created on {{collection.createdOn}}</p>
        </div>
        <div class="icon">
          <i class="fa fa-table"></i>
        </div>
        {{#link-to "namespace.collection" collection class="small-box-footer"}}
        More info
        <i class="fa fa-arrow-circle-right"></i>
        {{/link-to}}
      </div>
    </div>
  </div>
  {{/each}}
</section>

{{outlet}}
